<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <a class="navbar-brand" href="#">Timezone App</a>
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" >All zone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Favourite zones</a>
      </li>
    </ul>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

    <div *ngIf="loggedIn()">
     <a class="lead text-light mr-2">Welcome user</a> 
    <button  class="btn btn-warning my-2 my-sm-0" (click)="logout()">Logout</button>
  </div>
</nav>